* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary : rgba(68, 88, 119, 1);
    --secondary: rgba(146, 204, 206, 1);
    --tertiary: rgba(49, 52, 61, 1);
    --dark: rgba(28, 29, 33, 1);
    --light: rgba(238, 238, 247, 1);
}

body {
    color: var(--primary);
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: var(--secondary);
    text-decoration: none;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--tertiary);
}

header h1 {
    font-size: 4vw;
    line-height: 1;
    padding: 5px 1% 5px 6%;
    color: var(--tertiary);
    background-color: var(--secondary);
}

nav {
    display: flex;
    flex-wrap: wrap;
    margin-right: 60px;
}

nav a {
    font-size: 1.4rem;
    margin: 40px 10px;
    padding: 5px;
    border-bottom: 5px solid var(--secondary);
}

nav a:hover {
    color: var(--tertiary);
    background-color: var(--secondary);
}

.hero {
    display: flex;
    justify-content: flex-end;
    padding: 20% 1% 1% 8%;
    background-size: cover;
    background-image: url(images/hero-banner.jpg);
}

.hero h2{
    font-size: 2.5em;
    padding: 0 2%;
    color: var(--tertiary);
    background-color: var(--secondary);
}

.main-container {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
}

.container {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.container h2 {
    flex: 0 0 20%;
    font-size: 64px;
    padding: 10px;
    margin: 10px;
    text-align: right;
    border-right: 5px solid var(--primary);
}

#about div {
    display: flex;
    justify-content: space-between;
}

#about div img {
    width: 40%;
    margin: 0 20px;
    border-radius: 50%;
    border: 5px solid var(--primary);
}

#about div p {
    align-self: center;
    font-size: 1.4em;
    line-height: 1.5;
    margin: 10px;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project:first-child {
    min-height: 400px;
    flex-basis: 98%;
}

.project {
    flex: 0 0 48%;
    display: flex;
    align-items: flex-end;
    margin: 0.5em;
    min-height: 100px;
    min-width: 50px;
    border: 5px solid;
    background-size: 150%;
    background-repeat: no-repeat;
    background-color: var(--primary);
}

.project:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
    opacity: 0.8;
}

.project div:first-child {
    margin-bottom: 20px;
}

.project div {
    flex: 0 0 20%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    color: var(--tertiary);
    background-color: var(--secondary);
}

#run-buddy {
    background-image: url("images/run-buddy.jpg");
}

#robot-gladiator {
    background-image: url("images/robot-gladiator.jpg");
}

#calculator {
    background-image: url("images/calculator.jpg");
}

#digital-clock {
    background-image: url("images/digital-clock.jpg");
}

#contact div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex: 0 0 80%;
}

#contact div a {
    font-size: 24px;
    margin: 5px;
    border-bottom: 5px solid var(--primary);
    color: var(--primary);
}

#contact div a:hover {
    color: var(--secondary);
    background-color: var(--primary);
}

@media screen and (max-width: 1200px) {
    .container {
        flex-direction: column;
    }

    .container h2 {
        margin: 10px 10px 40px 10px;
        text-align: center;
        border-right: none;
        border-bottom: 5px solid var(--primary);
    }

    .project:first-child,
    .project {
            flex-basis: 98%;
    }
}

@media screen and (max-width: 980px) {
    header {
        padding: 0 0 10px 0;
        justify-content: center;
        text-align: center;
      }
    
      header h1 {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
        font-size: 10vw;
      }   
      
      #about div {
            flex-direction: column;
            justify-content: center;
      }

      #about div img {
          align-self: center;
      }

      #about div p {
          text-align: center;
      }
    
      nav {
        justify-content: center;
        margin: 0;
      }

      .hero {
          justify-content: center;
          padding: 30% 1% 1% 1%;
      }

      .project:first-child,
      .project {
        min-height: 200px;
        flex-basis: 80%;
      }

      #contact div {
        flex-direction: column;
    }
}

@media screen and (max-width: 620px) {
    nav a {
        font-size: 1rem;
    }

    .project:first-child,
    .project {
      min-height: 100px;
      flex-basis: 80%;
    }
}